/* universal styling for the page  */
* {
  border: 0;
  margin: 0;
  width: 100%;
  background-color: #01706100;
}

.lsl {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
}

.lsl-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.lsl-item img {
  object-fit: contain;
}

.lsl a {
  justify-content: flex-end;
  color: black;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}

.lsl a:hover {
  color: #088178;
  text-decoration: underline;
}

/* navigation bar styling begins */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  font-size: 35px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
  transform: scale(90%);
}

.navbar li a:hover,
.navbar li a.active {
  color: #088178;
}

.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* All the stylings of the search bar */
.container {
  position: relative;
  --size-button: 40px;
  color: white;
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #191a1e;
  box-shadow:
    1.5px 1.5px 3px #0e0e0e,
    -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e,
    inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow:
    0px 0px 0px #0e0e0e,
    0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #0e0e0e,
    inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.container .icon svg {
  width: 100%;
  height: 100%;
}

/* Animation of the page  */
.container-animate{
  display: flex;
  align-items: center;
  justify-content: center;
}
.animation-box {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animate 10s ease-in-out infinite;
  animation-iteration-count: infinite;  
  animation-direction: alternate;
  object-fit: cover;
  margin-top: 20px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #151515);
}

@keyframes animate {
  0%,
  100% {
    background-image: url(../Pictures/dune-part-two-2023-movies-5120x5120-11407.jpg);
  }
  25% {
    background-image: url(../Pictures/the-beekeeper.jpg);
  }
  50% {
    background-image: url(../Pictures/wp6.jpg);
  }
  75% {
    background-image: url(../Pictures/wp4.jpeg);
  }
}
