*{
    border: 0;
    margin: 0;
    width: 100%;

}
.container{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 10s ease-in-out infinite;
    background-size: cover;
    }
.outer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

@keyframes animate{
    0%,100%{
        background-image: url(Pictures/the-beekeeper.jpg);
    }
    25%{
        background-image: url(Pictures/sonic-the-hedgehog-3840x2160-14978.png);
    }
    50%{
        background-image: url(Pictures/wp6.jpg);
    }
    75%{
        background-image: url(Pictures/wp4.jpeg);
    }
}

.lsl .search {
    width: 40%;
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    right: 50%;
    transform: translate(-20%, -70%);
    padding: 40px;
}

.search button{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    white-space: no-wrap;
}

.bar{
    top: 20px;
    display: flex;
    height: 35px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 80px 0 0 80px;
    justify-content: center;
    border: 1px solid transparent;
    font-size: 15px;
    padding: 10px;
    outline: none;
}

.lens{
    display: flex;
    border-radius: 0px 80px 80px 0;
    width: 10%;
    height: 35px;
}
